<%= form_for @assessment do |f| %>
	<% if @assessment.errors.any? %>
		<div class="notice">
		<p>There was a problem:</p>
		<% @assessment.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	<% end %>	

	<p class="form-group">
		<%= f.text_area :q1, size: "20x20", placeholder: "Where are you? What are you doing? Who is around you?", required: true, class: "form-control" %>
	</p>

  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-default" %>
  </div>
<% end %>

