<div class="container">
	<div class="row">

		<div class="col-md-8 col-md-offset-2">
			<h1 class="text-center">Explore</h1>
				<div class="questions">
					<h3>Describe, in as much detail as possible, where do you see yourself 5 years from now.</h3>
					<%= render 'form' %>	
				</div><!-- /questions -->
			</div><!-- /col-sm-6 -->
		</div><!-- /col-sm-8 -->	

	</div><!-- /row -->	
	<%= link_to "Back", user_path(current_user) %>		
</div><!-- /container -->