<h1>Thank you <%= @current_user.full_name %> for siging up for Zest</h1>

<!-- <p>Thank you for signing up with Zest. We are looking to working with you towards your acheiving you goal of <%= @current_user.goal %></p> -->