<div class="container">
    <div class="col-md-8 col-md-offset-1">
        <div class="row featurette">
          <hr class="featurette-divider">
          <div class="col-md-7">
            <h2 class="featurette-heading"><%= link_to(motivation.title, motivation) %></h2>
            <p class="lead"><%= motivation.body %></p>
          </div>
          <div class="col-md-5">
            <%= image_tag motivation.image.url(:medium) %>
          </div>
        </div>
    </div>        
</div>