<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center">Edit</h1>
			<p class="text-center"><%= image_tag @motivation.image.url(:medium) %></p>
			<%= render 'form' %>
	</div>	
</div>	
<div class="container">
	<%= link_to "Cancel", motivations_path %>
</div>	