// Place all the styles related to the assessments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
	border: 1px solid black;
}

.story {
	height: 100%;
	background-color: #048D0D;
}
