// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel-indicators li {
	background-color: #87FF8E;
}

.carousel-indicators li.active {
	background-color: #1D7F23;
	}

.marketing {
	margin-top: 2em;
}
